@model EasyLabs.Models.ProfileModel

@{
    ViewData["Title"] = "ProfilePage";
}

<h1>Profile Page</h1>
<div class="row mt-4">
    <div class="col-md-3">
        <img src="~/img/5770f01a32c3c53e90ecda61483ccb08.jpg" alt="Profile Picture" class="img-fluid rounded-circle">
        <h3 class="mt-3">@Model.name</h3>
        <p>@Model.gender</p>
    </div>
    <div class="col-md-9">
        <h3>Contact Information</h3>
        <ul class="list-group">
            <li class="list-group-item"><strong>Phone:</strong> @Model.phone_number</li>
            <li class="list-group-item"><strong>Email:</strong> @Model.mail</li>
        </ul>
        <a href="@Url.Action("AppointmentPage", "User", new { mail = Model.mail })" class="btn btn-primary mt-3">Book an appointment</a>
    </div>
</div>

